<div class="container mt-5">
  <div class="row justify-content-center">
    <h5>ログイン</h5>
  </div>
  <%= render "form" %>
  <div class="row text-center">
    <%#= render "public/shared/links" %>
  </div>
</div>
