<% if user.id != current_user.id %>
  <div class="d-flex justify-content-center">
    <div class="follow-btn my-3" id="follow-btn-<%= user.id %>">
      <%= render "/public/relationships/follow_btn", user: user %>
    </div>
  </div>
<% else %>
  <% unless user.guest_user?%>
    <div class="d-felx flex-column align-items-center">
      <div class="col d-flex justify-content-center">
        <%= link_to edit_user_path(current_user), class: "btn btn-secondary btn-sm mt-3 mb-1" do %>
            ユーザー編集
            <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
      <div class="col d-flex justify-content-center">
        <%= link_to favourites_index_path, class: "btn btn-primary btn-sm my-2" do %>
            お気に入り
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>