<div class="container">
  <h1 class="h4">
      <%= @user.name %>さんがフォロー中
  </h1>

  <% if @following.empty? %>
  <div class="row">
    <div class="col">
      <h2>まだフォローしていません</h2>
    </div>
  </div>
  <% end %>
  <%= render 'index', users: @following %>
</div>
