<div class="container">
  <div class="row  d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="col text-center ">
      <p>"episoda"は自分の人生の一部を共有するSNSサイトです。<br>
        人それぞれに存在する湧き上がるようなエピソードをコンセプトに、<br>
        自分が経験した笑えた話、誇らしかった話、涙した話...をお互いに共有し合うことを目指しています。<br>
        エピソードを語ることで自分を知る、エピソードを知ることで相手を知る、そんなSNSサイトです。<br>
      </p>
    </div>
  </div>
</div>