<div class="container">
  <div class="row">
    <!--左カラム-->
    <div class="col">
      
    </div>
    <!--右カラム-->
    <div class="col">
      <%= render "public/sessions/form"  %>
    </div>
  </div>
</div>