<div class="container">
  <h1 class="row">"<%= @query %>"の検索結果</h1>
  <% if @users.present? %>
    <%= render "user_index", users: @users %>
  <% end %>
  <% if @episodes.present? %>
    <%= render "episode_index", episodes: @episodes %>
  <% end %>
</div>