<table class="table table-bordered text-lg-center rounded">
  <thead>
    <tr>
      <th>カテゴリー</th>
    </tr>
  </thead>
  <tbody>
      <td>
        <div class="d-flex flex-lg-column flex-wrap">
            <% @categories.each do |category| %>
              <p><%= link_to category.name, category_path(category), class: "text-body mx-4 mx-lg-1" %></p>
            <% end %>
        </div>
      </td>
  </tbody>
</table>