<table class="table table-bordered text-center">
  <tr>
    <th>カテゴリー</th>
  </tr>
  <tr>
    <td>
      <div class="d-flex flex-column">
        <% @categories.each do |category| %>
          <%#= link_to items_path(genre_id: genre.id), class: "text-dark pt-lg-3 pt-sm-2 pt-1" do %>
            <%= category.name %>
          <%# end %>
        <% end %>
      </div>
    </td>
  </tr>
</table>