<div class="container col-10">
  <h1 class="h4 row">カテゴリ: <%= @category.name %></h1>
  <% if @episodes.exists? %>
    <h2 class="mt-5">エピソード</h2>
    <div class="d-flex flex-row flex-wrap">
      <% @episodes.each do |episode| %>
        <%= render "public/episodes/ep_box_search", episode: episode, user: episode.user %>
      <% end %>
    </div>
    <%= paginate @episodes %>
  <% end %>
</div>