
@use '~bootstrap/scss/bootstrap';


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: 200px;
}


.logo {
  width: 200px;
  height: auto;
  margin: 10px;
}