@use '~bootstrap/scss/bootstrap';


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


.logo {
  width: 200px;
  height: auto;
  margin: 10px;
}

.nav-link {
  vertical-align: middle;
}

// 長文の省略表示（複数行）
.episode_content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.user_introduction {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}