<div class="container col-xl-8 col-lg-9 my-4 px-sm-1">
  <div class="px-1 ml-md-2">
    <h1 class="text-center mx-auto mb-4" style="width: 150px;">ユーザー一覧</h1>
  </div>
  <div class="mx-auto col-10">

    <table class="table">
      <thead>
        <tr>
          <th class="bg-light">ユーザーID</td>
          <th class="bg-light">氏名</td>
          <th class="bg-light">メールアドレス</td>
          <th class="bg-light">公開ステータス</td>
          <th class="bg-light">アクティブステータス</td>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td class="link-black"><%= link_to user.name, admin_user_path(user) %></td>
          <td><%= user.email %></td>
          <% if user.is_public == true %>
            <td class="text-success"><strong>公開</strong></td>
          <% else %>
            <td class="text-muted"><strong>非公開</strong></td>
          <% end %>
          <% if user.is_active == true %>
            <td class="text-success"><strong>有効</strong></td>
          <% else %>
            <td class="text-muted"><strong>退会</strong></td>
          <% end %>
        </tr>
      <% end %>
    </thead>
  </table>

    <div>
      <%= paginate @users %>
    </div>

  </div>
</div>