<div class="container">
  <h1 class="h4">
      <%= user.name %>さんの投稿一覧
  </h1>
  <% if episodes.empty? %>
    <h2 class="h4">現在、投稿されたはありません</h2>
  <% elsif user.is_public == false %>
    <h2 class="h4">このユーザーの投稿は公開されていません</h2>
  <% end %>
  <div>

  </div>
  <div>
    <% episodes.each do |episode| %>
      <%= render "public/episodes/ep_box", episode: episode, user: user %>
    <% end %>
  </div>
  <div class="pagination d-flex justify-content-center mb-4">
    <%= paginate episodes %>
  </div>
</div>
