<div class="container">
  <div class="row">
    <div class="col-6" style="position: fixed; height: 100vh;">
      <!-- 左側のコンテンツ -->
    <div class="col-sm-8 col-lg-4">
      <%= image_tag @user.get_item_image(300, 250), class: 'img-fluid' %><br>
      <%= @user.name %><br>
      @<%= @user.username %><br>
      <%= @user.introduction %>
    </div>
    </div>
    <div class="col-6" style="overflow-y: auto; height: 100vh; margin-left: 50%;">
      <!-- 右側のコンテンツ -->
      フィード
    </div>
  </div>
</div>