<div class="container">
  <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
    <!--カテゴリボックス-->
    <div class="col mr-4">
      <div class="d-flex justify-content-lg-center mx-4">
        <%= render "public/categories/category_search", categories: @categories %>
      </div>
    </div>
    <!--エピソードインデックス-->
    <div class="col col-lg-9">
      <!--フォローアカウントのエピソード-->
      <h1 class="h4 mt-5">フォロー中</h1>
      <div class="d-flex flex-nowrap" style="overflow-x: auto;">
        <% if @episodes_following.empty? %>
          <!--該当データなし-->
          <div class="col mt-4">
            <p>現在投稿されたエピソードはありません。</p>
          </div>
        <% else %>
        <!--該当データあり-->
          <% @episodes_following.each do |episode| %>
            <%= render "public/episodes/ep_box_search", episode: episode, user: episode.user %>
          <% end %>
        <% end %>
      </div>
      <!--エピソードランダム表示-->
      <h1 class="h4 mt-5">みんなのエピソード</h1>
      <div class="row">
        <div class="col-12">
          <% if @episodes.nil? %>
          <!--該当データなし-->
            現在表示できるエピソードはありません。
          <% else %>
          <!--該当データあり-->
            <div class="col col-lg-12", id="ep_random">
              <%= render "episodes", episodes: @episodes %>
            </div>
            <% end %>
        </div>
      </div>
      <div class="row justify-content-center">
        <% unless @episodes.last_page? %>
          <%= link_to_next_page @episodes, 'もっとみる', remote: true,
          class: 'another-link text-body stretched-link col-2 text-center border rounded-pill p-2', id: 'another-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>