<div class="container my-4">
  <div class="col-12 col-md-10  mx-auto my-2">
    <div class="px-1">
      <h5 class="text-center" style="width: 150px;">エピソード</h5>
      <%= render 'layouts/error_messages', resource: @episode %>
    </div>
    <div class="col-12">
    <%= render 'form', episode: @episode, categories: @categories %>
    </div>
  </div>
</div>
