<footer>
  <nav class="navbar navbar-expand-md navbar-light">
    <ul class="navbar-nav mx-auto">
      <% if user_signed_in? %>
        <%# ログイン後 %>
        <li class="nav-item"><%= link_to "サイト概要", about_path, class: "nav-link" %></li>
      <% elsif admin_signed_in?%>
        <!--管理者ログイン後-->
        管理者ログイン中
      <% else %>
        <%# ログイン前 %>
        <div class="row">
          お問合せ
        </div>
        <div class="d-flex justify-content-end">
          <div class="col">
            <small><%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link" %></small>
          </div>
        </div>
      <% end %>
    </ul>
  </nav>
</footer>